<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahdi20.fullcodes">

    <!--    net receiver-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    alarm manager-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--    sms receiver-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:name="com.mahdi20.codes.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".recyclerviewExample.RecyclerViewActivity" />
        <activity android:name=".asyncTaskExample.AsyncTaskActivity" />

        <!--        event bus-->
        <activity android:name=".eventBusExample.EventBusActivity" />
        <service android:name=".eventBusExample.MyService" />

        <!--       job scheduler-->
        <activity android:name=".jobSchedulerExample.JobSchedulerActivity" />
        <service
            android:name=".jobSchedulerExample.TestJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--       alarm manager-->
        <activity android:name=".alarmManagerExample.AlarmManagerActivity" />
        <activity android:name=".alarmManagerExample.ReminderActivity" />

        <receiver
            android:name=".alarmManagerExample.AlarmManagerReceiver"
            android:enabled="true"
            android:exported="true" />

        <!--        sms receiver-->
        <receiver android:name=".broadcastReceiverExample.sms.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <receiver android:name=".broadcastReceiverExample.net.NetworkReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>


        <activity android:name=".retrofit.RetrofitActivity" />

        <service android:name="com.mahdi20.codes.startedService.MahdiService" />
        <service android:name="com.mahdi20.codes.intentService.MahdiIntentService" />

    </application>

</manifest>